* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

:root {
font-size: 62%; 
}

body {
  background-color: #1a1924;
  font-size: 1.6rem;
  color: #e1e1e6;
  height: 100vh;
  overflow: hidden;

  font-family: "Roboto", sans-serif;
}

#app {
  padding: 38px 51px;

  height: 100vh;
  width: 100vh;
  max-width: 880px;

  display: grid;
  grid-template-rows: max-content 1fr max-content;
  margin: auto;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-info {
  display: flex;
  align-items: center;
  gap: 26px;
}

#user-info img {
  width: 76px;
  height: 76px;
  object-fit: cover;
  border-radius: 50%;
}