* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

body {
  background: #1a1924;
}
  background-color: #1a1924;
  font-size: 1.6rem;
  color: #e1e1e6;
  height: 100vh;
  overflow: hidden;
}
